  /* Reset básico */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
 
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color:rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80px;
    position: relative;
    color: #ffffff;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap: 1px; /* Espaço entre o logo e o texto */
  }
  
  header img {
    margin-left: -20px;
    width: 180px;
    height: auto;
    margin-top: -20px;
  }
  
  .logo-text {
    margin-top: -13px;
    margin-left: -20px;
    font-size: 18px; /* Tamanho da fonte do texto */
    max-width: 600px; /* Limita o tamanho do texto */
    text-align: left;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
  }
  
  nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
 
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 12px;
    
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-top: -6px;
    
  }
  
  .menu-toggle span {
    height: 2px;
    width: 25px;
    background: #fff;
    margin: 4px 0;
    border-radius: 2px;
    
  }
  
  main {
    flex: 1;
  }
  .hero {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; /* O vídeo ficará atrás da camada de sobreposição */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adiciona um fade escuro com opacidade de 50% */
    z-index: -1; /* Coloca a sobreposição entre o vídeo e o conteúdo */
  }
  
  .hero-content {
    position: relative;
    z-index: 1;
    max-width: 700px;
  }
  
  .hero-text {
    position: relative;
    padding: 20px;
    z-index: 2; /* Garantir que o texto fique acima da sobreposição escura */
  }
  
  .hero-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 18px;
  }
  
  .hero button {
    padding: 10px 20px;
    margin-top: 15px;
    background-color:  #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
    /* Estilos gerais */
    .features {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 40px 20px;
      background-color: #fff;
      overflow: hidden;
      width: 100%;
      cursor: pointer; /* Tornar a área do carrossel clicável */
    }
  
    .feature {
      background-color: #ffffff;
      padding: 20px;
      text-align: center;
      border-radius: 8px;
      width: 200px;
      transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
      opacity: 0.7;
    }
  
    .feature img {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }
  
    /* Efeito de destaque no item centralizado */
    .feature.active {
      transform: scale(1.2);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      opacity: 1;
      z-index: 2;
    }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 17px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 0;
  }
  
  .card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .card .title-box {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .card .price {
    font-size: 1.2em;
    font-weight: bold;
    color:  #ff6600;
    margin-top: 10px;
  }
  
  
  .card .installments {
    font-size: 0.9em;
    color: #555;
  }
  
  .card p {
    color: #666;
  }
  
  .card .buy-button {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
  }
  
  .card .buy-button:hover {
    background: #cc5500;
  }
  
  #manutencao-form {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  #manutencao-form form {
    display: flex;
    flex-direction: column;
  }
  
  #manutencao-form label {
    margin-top: 10px;
  }
  
  #manutencao-form input,
  #manutencao-form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #manutencao-form button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #manutencao-form button:hover {
    background-color: #cc5500;
  }
  
  #map {
    height: 20vh;
    width: 40vh;
    margin: auto;
  }
  .whatsapp-float {
    position: fixed; /* Fixa a posição da div */
    bottom: 20px; /* Distância do fundo da página */
    right: 20px; /* Distância da direita da página */
    z-index: 1000; /* Garante que a div fique acima de outros elementos */
    animation: bounce 1s infinite; /* Animação de pulso */
  }
  
  .whatsapp-float img {
    width: 60px; /* Tamanho do ícone do WhatsApp */
    height: 60px; /* Tamanho do ícone do WhatsApp */
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Posição original */
    }
    40% {
      transform: translateY(-10px); /* Sobe 10px */
    }
    60% {
      transform: translateY(-5px); /* Sobe 5px */
    }
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #2c2c2c;
    color: #b0b0b0;
  }
  
  .pagination-container {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px; /* Sobe os bullets */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 99;
  }
  
  .swiper-pagination {
    position: static; /* Remove posição absoluta do Swiper */
  }
  
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid #000000;
    background-color: transparent;
    opacity: 1;
    margin: 0 6px !important;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #000000;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    header img {
      width: 190px;
    }
  
    .logo-text {
      font-size: 8px;
      max-width: 300px;
      width: 170px;
      padding-left:20px;
    }
  
    nav {
      flex-direction: column;
      background-color: #1a1a1a;
      position: absolute;
      top: 80px;
      right: 0;
      width: 100%;
      z-index: 100;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      display: none;
    }
    nav a{
     color: rgb(255, 253, 253);
    }
  
    nav.active {
      display: flex;
    }
  
    .menu-toggle {
      display: flex;
    }
  
   
  
    .hero-content {
      flex-direction: column;
      align-items: center;
    }
  
    .hero-text {
      margin-top: -40px;
      position: relative;
      text-align: center;
    }
  
    .hero {
      height: auto;
      padding: 50px 20px;
      gap: 20px;
    }
  
    .features {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
  
    .feature {
      flex: 1 1 auto;
      min-width: 100px;
      max-width: 33%;
      text-align: center;
      padding: 10px;
    }
  
    .feature h3 {
      font-size: 1.0rem;
      margin: 10px 0;
      white-space: nowrap;
    }
  
    .feature p {
      font-size: 0.8rem;
      margin: 0;
      padding: 0;
      word-wrap: break-word;
    }
  
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .card {
      height: 280px;
      width: 180px;
    }
  
    .card img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  
  @media (min-width: 768px) {
    .hero-content {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    .hero img {
      order: 1;
    }
  
    .hero-text {
      order: 2;
      text-align: left;
    }
  }
  @media (min-width: 800px) {
    
  .logo-text {
    margin-top: -13px;
    margin-left: -20px;
    font-size: 15px; 
    max-width: 300px; 
  
  }
  nav a{
    margin-top: -16px; 
  }
  }

  @media (min-width: 1024px) {
    
    .logo-text {
      margin-top: -13px;
      margin-left: -20px;
      font-size: 18px; 
      max-width: 600px; 
     
    }

    nav a{
      margin-top: -16px; 
    }
  
  }